@import "../../pages/base/variables";

.btn {
  margin: 8px;
  padding: 3rem;
  font-size: $button-font-size;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;

  &.primary {
    color: $color-white;
    background-color: $color-primary;
    
    &:hover {
      background: $color-primary-dark;
    }
  }

  &.default {
    color: $color-purple-light;
    background-color: $color-white;
    
    &:hover {
      background: $color-gray-light-2;
    }
  }

  &__text-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
}