@import url("https://fonts.googleapis.com/css?family=Roboto");
.btn {
  margin: 8px;
  padding: 3rem;
  font-size: 1.4rem;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn.primary {
    color: #fff;
    background-color: #32CCCC; }
    .btn.primary:hover {
      background: #28a3a3; }
  .btn.default {
    color: #aa65f4;
    background-color: #fff; }
    .btn.default:hover {
      background: #eee; }
  .btn__text-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold; }
