body {
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color-white;
  background: linear-gradient($color-purple-dark, $color-purple-light);
}

h1 {
  letter-spacing: .1rem;
  text-align: center;
}

span {
  letter-spacing: .1rem;
  font-size: 1.5rem;
  text-align: center;
}