@import "../../pages/base/variables";

.toolbar {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // max-height: 60px;

  &-primary {
    color: $color-white;
    background: linear-gradient($color-purple-dark, $color-purple-light);
  }
}